.p-container{
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.p-container .wd-40{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.p-container .wd-60{
  width: 60%;
}
.p-container > div > div{
  padding: 10px 12px;
}

.p-container form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}
.input-controller{
  margin: 5px 0;
  width: 50%;
  padding-right: 4px;
}
.p-container form input,textarea,select{
  width: 100%;
  padding: 10px 4px;
  /* margin-top: 4px; */
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: dimgrey;
}
.cBtn{
  max-width: 100%;

}
.cBtn .btn{
  background-color: cornflowerblue !important;
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0 auto !important;
  align-items: center;
  padding: 10px !important;
  font-size: 20px !important;
  cursor: pointer;
}

.p-container .btn:hover{
  background-color: #3179fd !important;
}
.p-container table{
  width: 100%;
  border-collapse: collapse;
}
th,td{
  border: 1px solid #efefef;
  padding: 5px;
  text-align: start;
}
.p-container  th:nth-child(even), .p-container td:nth-child(even){
  background-color: #f5f5f5;
}
.status-flex{
  display: flex;
  justify-content: space-around;
}
.status-flex > div{
  display: flex;
  align-items: center;
}
.status-flex > div > input[type="checkbox"]{
  margin: 0 2px;
  width: 20px;
  height: 20px;
  accent-color: green;
}
label{
  font-size: 18px;
}
.select{
  padding:110px 4px ;
}
@media screen and (max-width:700px){
  .p-container .wd-40{
    width: 100%;
  }
  .p-container .wd-60{
    width: 100%;
  }
}
@media  screen and (max-width:430px) {
  .input-controller{
    width: 100%;
  }
  .cBtn .btn{
    width: 100%;
  }
}
@media screen and (max-width:286px) {
  .p-container .wd-40{
    width: 100%;
  }
}