.customer-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10% 0;
}
.customer-form h2{
  font-size: 25px;
  padding: 8px 0;
}
.customer-form form{
  width: 400px;
  padding: 15px 10px;
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 0 0 3px #898989;
}
.customer-form form .c-input-ctrl{

  margin: 8px 0;
}
.customer-form form .c-input-ctrl input{
  width: 100%;
  padding: 10px 5px;
  border-radius: 6px;
  border: solid thin #b1b1b1;
  outline: none;
  font-size: 20px;
}
.c-btn input{
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  border: solid thin gray;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: #0ec5cc;
}