.nav{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav a{
  text-decoration: none;
  color: #333;
  padding: 4px 9px;
  font-size: 20px;
}
.nav a:nth-child(2):hover{
  margin-left: 2px;
}
.nav a.active{
  background-color: aliceblue;
}
.nav-bg{
  background-color: #d8d8d8;
  position: sticky;
  top: 0;
  width: 100%;
}