.nav{
  display: flex;
  align-items: center;
}
.nav a{
  text-decoration: none;
  color: #333;
  padding: 4px 9px;
  font-size: 20px;
}
.nav a:nth-child(2):hover{
  margin-left: 2px;
}
.nav-bg{
  background-color: #d8d8d8;
  position: sticky;
  top: 0;
  width: 100%;
}
@media screen and (max-width:700px){
  .nav{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: start;
    top: 96%;
    right: 10%;
    z-index: 999;
  }
  .hide2{
    display: flex;
  }
}