.nav_flex{
  display: flex;
  align-items: center;
}
.nav{
  display: flex;
  align-items: center;
}
.nav .nvv{
  display: flex;
  align-items: center;
}
.nav_flex a{
  text-decoration: none;
  color: #333;
  padding: 4px 9px;
  font-size: 20px;
}
.nav_flex a:nth-child(2):hover{
  margin-left: 2px;
}
.nav-bg{
  background-color: #d8d8d8;
  position: sticky;
  z-index: 9999;
  top: 0;
  width: 100%;
}
@media screen and (max-width:700px){
  .nav{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: start;
    top: 96%;
    padding: 3px 20px;
    right: 10%;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1000;
  }
  .user-profile,.nvv{
    margin-right: 30px;
  }
  .hide2{
    display: flex;
    cursor: pointer;
  }
   .fa-times{
    transform: rotate(180deg);
  }
}