.search{
  /* max-width: 850px; */
  /* background-color: azure; */
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.search input{
  border-radius: 5px 0 0 5px;
  width: 50%;
  border: none;
  outline: none;
  padding: 10px 20px;
}
.search button{
  border: none;
  padding: 0 2px;
  border-radius: 0 5px 5px 0;
}
.search-icon{
  fill: tomato;
}