*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: 0.3s all;
} 
body{
   font-family: sans-serif;
   background-color: #d8d8d8;
   overflow: hidden;
   /* overflow-y: auto; */

}
.mx-wd{
   max-width: 1300px;
}
.auto{
   margin: 0 auto;
}
.logo{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   display: flex;
   /* justify-content: center; */
   overflow: hidden;
}
.logo img{
   max-width: 100%;
   min-height: 100%;
}
.d-flex{
   padding: 10px 0;
   position: sticky;
   top: 0;
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
}
.d-flex > div:first-child{
   width: 10%
}
.d-flex > div:nth-of-type(2){
   width: 40%;
}
.d-flex > div:nth-last-of-type(){
   width: 50%;
   background-color: red;
}
.border-b{
   border-bottom: 1px solid #c5c5c5;
}
.m-b{
   /* margin-bottom: 10%; */
   /* margin-top: 3%; */
}
.margin-btm{
   margin-bottom: 10%;
}
.icons-position{
   position: relative;
   z-index: 999;
}
.user-profile{
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 19999;
}
.user-profile > div:last-child{
   background-color: #fff;
   position: absolute;
   border-radius: 4px;
   flex-direction: column;
   top: 96%;
   right: 0;
   transition-delay: 3s;
   padding: 10px;
   display: none;
   z-index: 999999;
}
.show{
   display: flex !important;
}
.bg-color{
   background-color: honeydew;
   border-radius: 10px;
   padding: 10px;
}
.footer1{
   padding: 30px;
   background-color: #2f2f2f;
   color: #fff;
}
.h-100vh{
   max-height: 100vh;
}
.removeBg{
   display: none;
}
/* .footer1{
  width: 100%;
  padding: 20px 0;
  background-color:#2f2f2f;
  color: #fff;
}
.flex-growFooter{
   display: flex;
   flex-direction: column;
} */
