.home-container{
  height: 90vh;
  background-color: aliceblue;
  position: relative;
}
.underlined{
  /* height: 5px;
  width: 250px; */
  border-radius: 20px;
  /* margin-top: 4px;
  margin-bottom: 8px; */
  text-decoration: underline;
  text-underline-offset: 4px;
}
.trending-container{
  margin: 2% 0;
  padding: 10px 0;
  background-color: #9abeff;
}
.slider-flex{
  position: relative;
  display: flex;
  justify-content: center;
}
.slider{
  width: 100%;
  position:absolute;
  z-index:unset;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}
.slider.actives{
  opacity: 1;
}
.slider > .hgt{
  background-color: aliceblue;
  height: 500px;
  /* margin: 2% 1%; */
  border-radius: 4px;
}
.slider-profile{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider-profile img{
  max-width: 100%;
  max-height: 100%;
}
.wrap-unset{
  flex-wrap: unset;
}
#product-carousel{
  display: flex;
  position: relative;
  width: 100%;
}
/* #prevBtn,#nextBtn{
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
}
#prevBtn{
  left: 0;
}
#nextBtn{
  right: 0;
} */